{% extends 'shop/basic.html' %}
{% block title%} About Us{% endblock %}
{% block body %}

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">About Us</h1>
      <p>We are Indian Real-Estate System company based in Phagwara, India. Founded by<b> <i>Rohin Sandhu</i></b>  in 2022, the company initially focused on Real Estate, before expanding into other product categories such as Stocks, Metals, Future & Options.
            The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival State Predictor.
        <br>  <br>PredictiFire 🔥 is guided by <b>Four Principles</b>: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. We strives to be Earth’s most customer-centric company, Earth’s best employer, and Earth’s safest place to work.
</p>
      <p><a class="btn btn-success btn-lg" href="/blog/" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Who Are We?</h2>
        <p>During one of their many explorations, our founder Rohin Sandhu discovered that the dopest people of our land were in search of affordable Real-Estate products to groove to.
        </p>
        <p><a class="btn btn-primary" href="/blog/" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Sailing Across Nation</h2>
        <p>Their love and support inspires us to never back down, even in turbulent waters and stormy seas.
          No wonder then, that we've sailed from strength to strength, even in a year like 2020.</p>
        <p><a class="btn btn-primary" href="/blog/" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>What's next?</h2>
        <p>All that has happened to us is overwhelming, yes, but it pushes us to do more, be more and make more products that you can use to jazz up your lifestyle.

        </p>
        <p><a class="btn btn-primary" href="/blog/" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}
